[submodule "illa-design"]
	path = illa-design
	url = https://github.com/illacloud/illa-design.git
	branch = develop
[submodule "apps/builder/src/illa-public-component"]
	path = apps/builder/src/illa-public-component
	url = https://github.com/illacloud/illa-public-component.git
