[submodule "packages/illa-public-component"]
	path = packages/illa-public-component
	url = https://github.com/viniciussousaazevedo/illa-public-component
	branch = beta
[submodule "packages/illa-design"]
	path = packages/illa-design
	url = https://github.com/viniciussousaazevedo/illa-design
