[submodule "illa-public-component"]
    path = packages/illa-public-component
    url = https://github.com/viniciussousaazevedo/illa-public-component.git
[submodule "illa-design"]
    path = packages/illa-design
    url = https://github.com/viniciussousaazevedo/illa-design.git
