name: "Preview Publish"

on:
  push:
    branches: [ main, develop ]

env:
  TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
  TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}

jobs:
  install:
    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [ 16.x ]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache builder node modules & Turbo building
        uses: actions/cache@v2
        env:
          cache-name: cache-builder-node-modules
        with:
          path: |
            node_modules
            ~/Library/Caches/Cypress
          key: ${{ runner.os }}-builder-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-builder-${{ hashFiles('yarn.lock') }}

      - name: Check builder Install/Build Cache
        run: ls -lah node_modules | head -5

      - name: Install Dependencies
        if: steps.cache-builder-node-modules.outputs.cache-hit != 'true'
        run: yarn install

  build:
    needs:
      - install

    runs-on: macos-latest

    strategy:
      matrix:
        node-version: [ 16.x ]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node modules & Turbo building
        uses: actions/cache@v2
        env:
          cache-name: cache-builder-node-modules
        with:
          path: |
            node_modules
            ~/Library/Caches/Cypress
          key: ${{ runner.os }}-builder-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-builder-${{ hashFiles('yarn.lock') }}

      - name: Publish docker image
        run: echo "Publishing docker image..."

      - name: Build Static Page
        run: |
          yarn build-cloud
          echo "builder.illafamily.com" > "dist/CNAME"

      - name: Deploy storybook to Github Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
